*{
    font-family: Arial, Helvetica, sans-serif;
}
.b-card {
    width: 200px;
    word-break: break-word;
}

.b-card .row {
    display: grid;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
}
.book-image .v-image {
    height: 120px;
    width: 80px;
   /*  margin-left: 72px;
    margin-top: 25px;
    margin-bottom: 20px; */
}
.book-image {
    background-color: #E2E2E2;
}
.book-content {
   /*  margin-top: 20px !important; */
}
.book-content .v-list-item {
    min-height: 25px !important;
}
.book-title {
    font-size: 15px;
    font-weight: 550;
}
.book-author {
    font-size: 12px;
    color: #878787 !important;
    font-weight: 500;
}
.book-price {
    font-size: 15px;
    font-weight: bold;
}
.book-wishlist-card {
    height: 306px;
    width: 280px;
}
.book-item-title {
    font-size: 15px;
    margin-top: 120px !important;
    margin-left: 202px;
}
.book-item-image {
    height: 270px;
    width: 200px;
}
.notify-me-btn {
    color: white !important;
    background-color: #A03037 !important;
    width: 125px !important;
    margin-left: 222px;
  }
.wish-list-btn {
    color: white !important;
    background-color: #333333 !important;
    width: 125px !important;
    margin-left: 32px;
  }