@import '../variables.scss';
@import './constants.scss';
*{
    font-family: Arial, Helvetica, sans-serif;
}
$small: 360px;
$medium: 375px;
$large: 1331px;
.b-card {
    width: 200px;
    word-break: break-word;
}

.b-card .row {
    display: grid;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
}
.book-image .v-image {
    height: 120px;
    width: 80px;
}
.book-image {
    background-color: $lightishGrey;
}
.book-content {
}
.book-content .v-list-item {
    min-height: 25px !important;
}
.book-title {
    font-size: $font-size-fifteen;
    font-weight: $font-weight-fivefifty;
}
.book-author {
    font-size: $font-size-twelve;
    color: $greyish !important;
    font-weight: $font-weight-fivehundred;
}
.book-price {
    font-size: $font-size-fifteen;
    font-weight: bold;
}
.book-wishlist-card {
    height: 306px;
    width: 280px;
}
.book-item-title {
    font-size: $font-size-seventeen;
    margin-top: 120px !important;
    @media screen and (min-width: $small) {
        margin-left: 32px !important;
      }
    @media screen and (min-width: $medium) {
        margin-left: 35px !important;
      }
      @media screen and (min-width: $large) {
        margin-left: 187px !important;
      }
    //margin-left: 187px;
}

.book-item-image {
    height: 270px;
    width: 200px;
}
.notify-me-btn {
    color: $whiteColor !important;
    background-color: $darkGrey!important;
    width: 125px !important;
    @media screen and (min-width: $small) {
        margin-left: 65px !important;
      }
    @media screen and (min-width: $medium) {
        margin-left: 72px !important;
      }
      @media screen and (min-width: $large) {
        margin-left: 222px !important;
      }
    //margin-left: 222px;
  }
.wish-list-btn {
    color: $whiteColor !important;
    background-color: #333333 !important;
    width: 125px !important;
    margin-left: 32px;
  }
.add-bag-book-title {
    font-size: $font-size-twentyfive;
}
.add-bag-book-author {
    font-size: $font-size-fifteen;
    color: $greyish !important;
}
.v-application a {
    text-decoration: none;
}
.add-bag-book-price {
    font-size: $font-size-twentyfive;
    font-weight: bold;
}
.book-details .v-list-item {
    min-height: 25px !important;
}
.book-description {
    margin-left: -150px;
}
.add-bag-book-description {
    color: $greyish !important;
    font-size: $font-size-fourteen;
}
.description {
    font-size: $font-size-twelve !important;
}
.feedback-cart {
    width: $full-width;
}
.cust-feedback .theme--light.v-card {
    background-color: $lightGrey;
}
.cust-feedback .v-sheet.v-card {
    border: none;
}
.cust-feedback-submit {
    color: $whiteColor !important;
    background-color: $skyBlue !important;
    width: 125px !important;
  }
