$font-size-fifteen: 15px;
$font-size-twelve: 12px;
$font-size-fourteen: 14px;
$font-size-seventeen: 17px;
$font-size-eighteen: 18px;
$font-size-twenty: 20px;
$font-size-twentyfive: 25px;
$font-weight-fourhundred: 400;
$font-weight-fivehundred: 500;
$font-weight-fivefifty: 550;
$full-width: 100%;
$small: 360px;
$medium: 375px;
$large: 1331px;