@import '../variables.scss';
@import './constants.scss';
*{
    font-family: Arial, Helvetica, sans-serif;
}
.main-card {
    height: 100%;
    width: $full-width;
}
/* .search-text-style.v-text-field.v-text-field--solo:not(.v-text-field--solo-flat) > .v-input__control > .v-input__slot {
    box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
    background-color: $whiteColor;
} */
.search-text-style {
    @media screen and (min-width: $small) {
        margin-right: 135px !important;
    margin-left: -95px !important;
      }
      @media screen and (min-width: $medium) {
        margin-right: 135px !important;
    margin-left: -95px !important;
      }
      @media screen and (min-width: $large) {
        margin-right: 0px !important;
    margin-left: 0px !important;
      }
}
.v-toolbar__content, .v-toolbar__extension {
    background-color: $darkGrey;
    color: $whiteColor !important;
}
.app-bar .v-input__control {
    margin-top: 25px;
    margin-left: 100px
}
.v-toolbar__title {
    font-size: $font-size-eighteen;
}

.app-bar .theme--light.v-icon {
    color: $whiteColor !important;
}
.flex.md3 {
    margin-left: 50px;
    margin-right: -85px;
}
.book-main-title {
    margin-top: 90px !important;
    font-size: $font-size-twenty;
    margin-left: 100px;
}
.v-application--is-ltr .v-badge__badge {
    bottom: calc(74% - 4px)!important;
    left: calc(42% - 4px)!important;
    right: auto;
    top: auto;
}
.book-card {
   /*  margin-top: 50px !important;
    margin-left: 120px; */
}
.appbar-icons .v-application .primary {
    background-color: none !important;
}
.appbar-icons {
    @media screen and (min-width: $small) {
        margin-left: -140px !important;
      }
    @media screen and (min-width: $medium) {
        margin-left: -140px !important;
      }
      @media screen and (min-width: $large) {
        margin-left: 0px !important;
      }
}
.header-icons {
    @media screen and (min-width: $small) {
        margin-left: -20px !important;
      }
    @media screen and (min-width: $medium) {
        margin-left: -20px !important;
      }
      @media screen and (min-width: $large) {
        margin-left: 0px !important;
      }
}
.account-icon {
    @media screen and (min-width: $small) {
        margin-left: -5px !important;
      }
    @media screen and (min-width: $medium) {
        margin-left: -5px !important;
      }
      @media screen and (min-width: $large) {
        margin-left: 0px !important;
      }
}
.v-badge__badge {
    background-color: none !important;
}
.field-width {
    width: 40%;
}
.new-address-btn {
    color: $whiteColor !important;
  background-color: $skyBlue !important;
}

.visible{
    display: block;
    color: $skyBlue;
}
.hidden {
    display: none;
    color: $whiteColor;
}
.loading-image .v-image__image, .v-image__placeholder {
    width: 8%;
    height: 8%;
}
.progress-bar {
    color: $skyBlue;
}
.form-details {
    @media screen and (min-width: $small) {
        margin-left: 20px !important;
      }
    @media screen and (min-width: $medium) {
        margin-left: 20px !important;
      }
      @media screen and (min-width: $large) {
        margin-left: 0px !important;
      }
}
.book-icon {
    @media screen and (min-width: $small) {
      margin-left: -30px !important;
    }
    @media screen and (min-width: $medium) {
      margin-left: -30px !important;
    }
    @media screen and (min-width: $large) {
      margin-left: 0px !important;
    }
  }