@import '../variables.scss';
@import './constants.scss';

* {
  font-family: Arial, Helvetica, sans-serif;
}
.cart-card {
    width: 50%;
}
.cart-image {
    height: 120px;
    width: 90px;
}
.v-list-item {
    min-height: 25px !important;
}
.cart-title {
    margin-left: 330px;
}
.counter-field {
     
}
.counter .v-text-field--outlined.v-input--dense.v-text-field--outlined > .v-input__control > .v-input__slot{
    min-height: 0px;
}
.counter .v-text-field.v-text-field--enclosed {
  margin-top: 20px;
  margin-right: 15px;

}
.counter .v-text-field .v-input__control {
  width: 30px;
}
.counter-minus{
  margin-left: 40px;
  margin-right: 10px;
}
.counter-plus{
  margin-right: 450px;
}
.place-order{
    justify-content: flex-end;
}
.place-order-btn {
  color: $whiteColor !important;
  background-color: $skyBlue !important;
  width: 150px !important;
}
.orderConfirmImage {
  height: 120px;
    width: 10%;
}
.confirmation-image .v-responsive {
  flex:none;
}
table {
  border-collapse: collapse;
  border-spacing: 3px;
}
table tr td{
  border: 1px solid $grey;
  width: 210px;
  height: 60px;
  text-align: center;
}
table{
  border: 1px solid $grey;
  border-spacing: 5px;
}
table tr th {
  font-weight: $font-weight-fourhundred;
  height: 30px;
  background-color: $lightGrey;
}
.continue-shopping {
  color: $whiteColor !important;
  background-color: $skyBlue !important;
}
.address-form {
  width: $full-width;
}