@import '../variables.scss';
@import './constants.scss';
.card-height-width {
    width: 260px !important;
    height: 380px;
  }
.register-login-btn {
    color: $whiteColor !important;
    background-color: $darkGrey !important;
    width: $full-width !important;
  }
